/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sección Izquierda */
.left-side {
    flex: 1.2;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.content-info h1 {
    color: #003366;
    font-size: 2.2rem;
    max-width: 400px;
    margin-top: 40px;
    font-weight: 500;
}

.url-badge {
    background-color: #f1f3f4;
    border-radius: 20px;
    padding: 8px 15px;
    display: inline-flex;
    align-items: center;
    margin-top: 25px;
    color: #555;
    font-size: 0.9rem;
}

.lock-icon {
    color: #28a745;
    margin-right: 10px;
}

.illustration {
    margin: 40px 0;
}

.security-tips {
    list-style: none;
    counter-reset: item;
}

.security-tips li {
    counter-increment: item;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
    display: flex;
}

.security-tips li::before {
    content: "0" counter(item) ". ";
    font-weight: bold;
    margin-right: 10px;
}

/* Sección Derecha */
.right-side {
    flex: 1;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 450px;
}

.login-card h2 {
    color: #003366;
    margin-bottom: 30px;
    font-weight: 400;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.forgot-link {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    color: #003366;
    text-decoration: none;
    margin-top: 5px;
    font-weight: 500;
}

.btn-primary {
    width: 100%;
    padding: 15px;
    background-color: #ffed00; /* Amarillo Pichincha */
    border: none;
    border-radius: 4px;
    color: #003366;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.footer-option {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-option a {
    font-size: 0.8rem;
    color: #003366;
    text-decoration: none;
    line-height: 1.2;
}

.footer-links p {
    font-size: 0.75rem;
    color: #777;
}

.footer-links a {
    color: #003366;
    text-decoration: none;
}